<div>
    <p-toast></p-toast>
    <app-loading-screen *ngIf="isLoading"/>
    <ng-container *ngIf="this.showVerifyPage === false">
        <app-create-registration-request [ngClass]="{'blur-content': isLoading}"
            (SendRegistrationRequest)="getVerifyTokenAndGoToVerifyPage($event)"/>
    </ng-container>
    <ng-container *ngIf="this.showVerifyPage === true">
        <app-token-provide [ngClass]="{'blur-content': isLoading}"
            background="true"
            pageName="Registration"
            labelName="Registration token"
            buttonContext="Registration"
            inputPlaceholder="abcd-1234-efgh-5678"
            (SendToken)="getVerifyTokenAndSendRegistration($event)"
            (cancelLogin)="cancelLogin()"/>
    </ng-container>
</div>
