<div class="cont">
    <app-nav-bar />
    <img [src]="isSunActive ? 'assets/images/sun.png' : 'assets/images/moon.png'" 
       alt="{{ isSunActive ? 'sun' : 'moon' }}" 
       class="sun_img"
       *ngIf="animation">
    <div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h2 [ngClass]="{ 'animate-welcome-text': animation, 'nonanimate-welcome-text': !animation }" class="text-center mt-5 text-style">Welcome to Textinger</h2>
                <div [ngClass]="{ 'animate-welcome-text': animation, 'nonanimate-welcome-text': !animation }" class="text-center mb-5 text-style">Here you can join to a desired room with your friends.</div>
                <div class="card my-5">
                    <form [formGroup]="joinRoomForm" class="card-body cardbody-color p-lg 5">
                        <div class="text-center">
                            <img src="https://cdn.pixabay.com/photo/2023/07/24/23/30/chat-8147986_1280.jpg"
                                class="img-fluid profile-image-pic img-thumbnail rounded0circle my-3" width="200px" alt="image"/>
                        </div>
                        <div class="mb-3">
                            <label id="roomNameLabel" for="Roomname">Roomname</label>
                            <input type="text" formControlName="room" class="form-control" id="roomNameLabel" placeholder="Roomname"/>
                        </div>
                        <div class="mb-3">
                            <label id="passwordlabel" for="password">Password</label>
                            <div class="password-show-container">
                                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control password-box" id="passwordlabel" placeholder="password"/>
                                <button class="button-box btn btn-color w-100 button-box" (click)="toggleShowPassword()">{{ showPassword ? 'Hide' : 'Show' }} password</button>
                            </div>
                        </div>
                        <div class="text-center">
                            <button [disabled]="joinRoomForm.invalid" (click)="joinRoom()" class="btn btn-color px-5 mb-5 w-100" type="button">Join</button>
                        </div>
                        <div class="text-center">
                            <button (click)="goToCreateRoom()" class="btn btn-color px-5 mb-5 w-100" type="button">Create room</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <img [src]="myImage" [class]="animation ? 'animate-image' : 'nonanimate-image'">
</div>
