<form class="text-style" [formGroup]="changePasswordRequest" (ngSubmit)="OnFormSubmit()">
    <div class="input-container">
        <label for="oldPassword" class="form-label text-style-15-px">Old password</label>
        <div class="input-icon">
            <input #oldPasswordInput formControlName="oldPassword" placeholder="••••••••" class="form-control" id="oldPassword" aria-describedby="passwordHelp" type="password">
            <div class="input-group-addon">
                <a href="#" (click)="togglePasswordVisibility($event, 'old')">
                    <i #passwordToggleIconForOldPassword class="fa fa-eye-slash text-secondary" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="input-container">
        <label for="newPassword" class="form-label text-style-15-px">New password</label>
        <div class="input-icon">
            <input #newPasswordInput formControlName="password" placeholder="••••••••" class="form-control password-box" id="newPassword" aria-describedby="passwordHelp"  type="password">
            <div class="input-group-addon">
                <a href="#" (click)="togglePasswordVisibility($event, 'new')">
                    <i #passwordToggleIconForNewPassword class="fa fa-eye-slash large-icon text-secondary" aria-hidden="true"></i>
                </a>
            </div>
            <span class="password-span" data-toggle="tooltip" data-placement="right" title="Your password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one symbol.">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="grey" class="bi bi-info-circle mx-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
            </span>
        </div>
        <div *ngIf="changePasswordRequest.get('password')?.invalid 
            && (changePasswordRequest.get('password')?.dirty || changePasswordRequest.get('password')?.touched)" class="text-danger">
            <div *ngIf="changePasswordRequest.get('password')?.errors">Invalid password format</div>
        </div>
    </div>
    <div class="input-container">
        <label for="repeatNewPassword" class="form-label text-style-15-px">Repeat password</label>
        <div class="input-icon">
            <input #repeatNewPasswordInput formControlName="passwordrepeat" placeholder="••••••••" class="form-control" id="repeatNewPassword" aria-describedby="passwordHelp"  type="password">
            <div class="input-group-addon">
                <div class="icon">
                    <a href="#" (click)="togglePasswordVisibility($event, 'repeat')">
                        <i #passwordToggleIconForNewPasswordRepeat class="fa fa-eye-slash text-secondary" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="changePasswordRequest.get('password')?.value !== changePasswordRequest.get('passwordrepeat')?.value && (changePasswordRequest.get('passwordrepeat')?.dirty || changePasswordRequest.get('passwordrepeat')?.touched)" class="text-danger">
            <div>Passwords do not match</div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-color" [disabled]="!changePasswordRequest.valid">Submit</button>
    </div>
</form>