.fa {
    cursor: pointer;
    font-size: 30px;
}

.input-icon {
    min-height: 30px;
    display: flex;
    padding: 10px 10px 0px 10px;
}

.input-group-addon {
    margin: auto auto auto -40px;
}

.password-span {
    margin: 10px -40px;
}

