<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Change password</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <form [formGroup]="changePasswordRequest" (ngSubmit)="OnFormSubmit()">
                    <label for="oldPassword" class="form-label">Old password</label>
                    <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword" aria-describedby="passwordHelp">
                    <label for="newPassword" class="form-label">New password</label>
                    <input formControlName="newPassword" type="password" class="form-control" id="newPassword" aria-describedby="passwordHelp">
                    <label for="repeatNewPassword" class="form-label">Repeat password</label>
                    <input type="password" class="form-control" id="repeatNewPassword" aria-describedby="passwordHelp">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>