.password-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.password-box {
    grid-area: 1 / 1 / 2 / 8;
}

.show-hide-button {
    margin-left: 10px;
    grid-area: 1 / 8 / 2 / 9;
}

.info {
    grid-area: 1 / 9 / 2 / 10;
}