<ng-container *ngIf="!isLoggedIn();">
    <app-loading-screen *ngIf="isLoading"/>
    <ng-container *ngIf="!loginStarted">
        <p-toast  position="top-center"></p-toast>
        <app-create-login-request [ngClass]="{'blur-content': isLoading}"
            (SendLoginRequest)="createTask($event)"/>
    </ng-container>
    <ng-container *ngIf="loginStarted">
        <app-token-provide [ngClass]="{'blur-content': isLoading}"
            pageName="Auth"
            labelName="Authtoken"
            buttonContext="Sign in"
            inputPlaceholder="012345"
            (SendToken)="sendLoginToken($event)"
            (cancelLogin)="cancelLogin()"/>
    </ng-container>
</ng-container>
