<ng-container *ngIf="!isLoggedIn();">
    <p-toast></p-toast>
    <app-loading-screen *ngIf="isLoading"/>
    <ng-container *ngIf="!loginStarted">
        <app-create-login-request [ngClass]="{'blur-content': isLoading}"
            (SendLoginRequest)="createTask($event)"/>
    </ng-container>
    <ng-container *ngIf="loginStarted">
        <app-provide-login-auth-token [ngClass]="{'blur-content': isLoading}"
            (SendToken)="sendLoginToken($event)"
            (cancelLogin)="cancelLogin()"/>
    </ng-container>
</ng-container>
