<div>
    <p-toast position="top-center"></p-toast>
    <div class="mb-3 text-style-15-px input-container">
        <div class="border-top">
            Friend requests
        </div>
        <ng-container *ngFor="let request of this.friendRequests">
            <div class="display-request">
                <div class="display-name">
                    Incoming friend request from {{ this.displayUserName(request.senderName) }}
                    <img class="avatar-image" [src]="avatarUrl[request.senderId] || 'https://ptetutorials.com/images/user-profile.png'" alt="User Avatar">
                </div>
                <div class="display-time-buttons">
                    <label>
                        {{ this.displayRemainingTime(request.sentTime) }}
                    </label>
                    <i class="fa fa-check ms-3" aria-hidden="true" (click)="this.handleFriendRequestAccept(request)"></i>
                    <i class="fa fa-close mx-3" aria-hidden="true" (click)="this.handleFriendRequestDecline(request.requestId)"></i>
                </div>
            </div>
        </ng-container>
        <div class="border-top">
            Friends
        </div>
        <ng-container *ngFor="let request of this.friends">
            <div class="display-request">
                <div class="display-name">
                    {{ this.displayUserName(request.senderName) }}
                    <img class="avatar-image" [src]="avatarUrl[request.senderId] || 'https://ptetutorials.com/images/user-profile.png'" alt="User Avatar">
                </div>
                <div class="display-time-buttons">
                    <label>
                        {{ this.displayRemainingTime(request.sentTime) }}
                    </label>
                    <i class="fa fa-close mx-3" aria-hidden="true" (click)="this.handleFriendRequestDecline(request.requestId)"></i>
                </div>
            </div>
        </ng-container>
    </div>
    <form [formGroup]="friendName" (ngSubmit)="OnFormSubmit()">
        <div class="mb-3 text-style-15-px input-container">
            <label for="inputEmail" class="form-label">Send a friend request to your friend:</label>
            <input formControlName="userName" type="email" placeholder="Username" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            <div class="error-messages-container">
                <div class="text-style-15-px" *ngIf="friendName.get('userName')?.invalid && (friendName.get('userName')?.dirty || friendName.get('userName')?.touched)" class="text-danger">
                    <div *ngIf="friendName.get('userName')?.errors?.['required']">Username is required</div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-color" [disabled]="!friendName.valid">Submit</button>
        </div>
    </form>
</div>
