.about-us-container {
    background-color: rgb(255, 255, 255, 0.9);
    margin: 25px 20% 25px 20%;
    padding: 50px;
    border-radius: 15px;
    @media (max-width: 1400px) {
        margin: 25px 10% 25px 10%;
    }
    @media (max-width: 600px) {
        margin: 25px 0% 25px 0%;
    }
}

.image_class {
    padding: 30px;
    margin: auto;
    width: 500px;
    display: block;
    @media (max-width: 1400px) {
        width: 300px;
        padding: 20px;
    }
    @media (max-width: 600px) {
        width: 200px;
        padding: 10px;
    }
}

.text-vertical-center {
    display: flex;
    align-items: center;
}