.about-us-container {
    background-color: rgb(255, 255, 255, 0.9);
    margin: 25px 20% 25px 20%;
    padding: 50px;
    border-radius: 15px;
}

.image_class {
    padding: 30px;
    margin: auto;
    width: 500px;
    display: block;
    @media (max-width: 1400px) {
        width: 300px;
        grid-area: 2 / 1 / 3 / 2;
    }
}