<div class="cont">
    <app-nav-bar></app-nav-bar>
    <p-toast></p-toast>
    <div class="card">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchAnimate" [checked]="animate" (change)="handleAnimateCheck()">
            <label class="form-check-label" for="flexSwitchAnimate">Animation</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchAnonymus" [checked]="anonymous" (change)="handleAnonymus()">
            <label class="form-check-label" for="flexSwitchAnonymus">Appear as anonymous</label>
        </div>
    </div>
    <app-background-image [backgroundVideoSrc]="'./assets/videos/white_black_video_2.mp4'"></app-background-image>
</div>