<div class="cont">
    <app-nav-bar />
    <p-toast  position="top-center"></p-toast>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mt-5 text-style text-white">Create a chat room for yourself/friends, <br> it's all free!</h2>
                <div class="card my-5">
                    <form [formGroup]="createRoomForm" class="card-body cardbody-color p-lg 5">
                        <div class="text-center">
                            <img [src]="boyImage" class="img-fluid profile-image-pic img-thumbnail rounded0circle my-3" width="150px" alt="image"/>
                        </div>
                        <div class="input-container center-input">
                            <label id="roomNameLabel" class="text-white text-style" for="Room name">Room name</label>
                            <div class="input-icon">
                                <input type="text" (keydown.enter)="sendCreateRoomRequest()" formControlName="roomName" class="form-control text-style" id="roomNameLabel" placeholder="Room name"/>
                            </div>
                        </div>
                        <div class="input-container center-input">
                            <label id="passwordlabel" class="text-white text-style" for="password">Password</label>
                            <div class="input-icon">
                                <input #passwordInput (keydown.enter)="sendCreateRoomRequest()" type="password" formControlName="password" class="form-control text-style" id="passwordlabel" placeholder="••••••••"/>
                                <div class="input-group-addon">
                                    <a href="#" (click)="togglePasswordVisibility($event)">
                                        <i #passwordInputToggle class="fa fa-eye-slash large-icon text-secondary eye-icon" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="container text-center mt-5">
                            <div class="row">
                                <div class="col">
                                    <button (click)="sendCreateRoomRequest()" [disabled]="createRoomForm.invalid" class="btn btn-color px-5 mb-5 w-100" type="button">Create</button>
                                </div>
                                <div class="col">
                                    <button (click)="handleCancel()" class="btn btn-color px-5 mb-5 w-100" type="button">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-background-image/>