.cont {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(90, 148, 225);
    font-family: Cursive;
}

mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

mat-form-field {
    display: block;
}
