.cont {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    background: rgb(90, 148, 225);
    font-family: Cursive;
}

.signup-card {
    border-radius: 15px;
    margin: 5vh 30vh 15vh 30vh;
    background: rgb(255, 255, 255);
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    @media (max-width: 1400px) {
        margin: 5vh 20vh 15vh 20vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    @media (max-width: 1000px) {
        margin: 5vh 10vh 15vh 10vh;
    }

    @media (max-width: 600px) {
        margin: 0vh 0vh 15vh 0vh;
    }
}

.left-side {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1400px) {
        grid-area: 1 / 1 / 2 / 2;
    }
}

.right-side {
    margin: auto;
    grid-area: 1 / 2 / 2 / 3;
    @media (max-width: 1400px) {
        grid-area: 2 / 1 / 3 / 2;
        margin-top: -40px;
    }

    @media (max-width: 600px) {
        margin: 50 50px 0px 50px;
        margin-top: -20px;
    }
}

.image {
    margin: auto;
    width: 70%;
    display: block;
    @media (max-width: 1400px) {
        grid-area: 2 / 1 / 3 / 2;
    }
    @media (max-width: 600px) {
        width: 80%;
    }
}

a {
    text-decoration: none; 
}

.password-show-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.password-box {
    grid-area: 1 / 1 / 2 / 4;
}

.button-box {
    margin: 0px 5px 0px 5px;
    grid-area: 1 / 4 / 2 / 5;
}

.btn-color {
    background-color: #0e1c36;
    color: #fff;
}
