<div class="settings-container">
    <app-loading-screen *ngIf="this.isLoading"></app-loading-screen>
    <div [ngClass]="{'blur-content': isLoading}" class="content-wrapper">
        <app-nav-bar></app-nav-bar>
        <p-toast></p-toast>
        <div class="profile-card">
            <div class="profile-details">
                <img [src]="user.image" alt="user-image" class="user-image">
                <div class="details">
                    <div class="m-3 text-style-30-px">Profile</div>
                    <div class="m-3 text-style-15-px">{{user.email}}</div>
                </div>
            </div>
            <div class="container text-center change-menu">
                <div class="row">
                    <div class="col">
                        <button 
                            type="button" 
                            class="btn text-style-20-px" 
                            [ngClass]="{'active': isActive('/profile/profile/avatarchange')}" 
                            (click)="handleButtonClick('/profile/profile/avatarchange')" 
                            [attr.aria-pressed]="isActive('/profile/profile/avatarchange') ? 'true' : 'false'">
                            Change Avatar
                        </button>
                    </div>
                    <div class="col">
                        <button 
                            type="button" 
                            class="btn text-style-20-px" 
                            [ngClass]="{'active': isActive('/profile/profile/emailchange')}" 
                            (click)="handleButtonClick('/profile/profile/emailchange')" 
                            [attr.aria-pressed]="isActive('/profile/profile/emailchange') ? 'true' : 'false'">
                            Change Email
                        </button>
                    </div>
                    <div class="col">
                        <button 
                            type="button" 
                            class="btn text-style-20-px" 
                            [ngClass]="{'active': isActive('/profile/profile/passwordchange')}" 
                            (click)="handleButtonClick('/profile/profile/passwordchange')" 
                            [attr.aria-pressed]="isActive('/profile/profile/passwordchange') ? 'true' : 'false'">
                            Change Password
                        </button>
                    </div>
                </div>
            </div>
            <router-outlet/>
        </div>
    </div>
</div>
<app-background-image [backgroundVideoSrc]="'./assets/videos/white_video.mp4'"></app-background-image>
