<!-- <div class="cont">
    <app-loading-screen *ngIf="this.isLoading"/>
    <div [ngClass]="{'blur-content': isLoading}">
        <app-nav-bar />
        <p-toast></p-toast>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2 class="text-center mt-5 text-style-welcome-text text-white">User details</h2>
                    <div class="card my-5">
                        <div class="card-body cardbody-color p-lg 5">
                            <div class="m-3">
                                Username: {{this.user.name}}
                            </div>
                            <div class="m-3">
                                Email: {{this.user.email}}
                            </div>
                            <img [src]="this.user.image" alt="user-image" class="user-image">
                        <div>
                            <div class="form-group m-3">
                                <label for="profile-pic" class="btn btn-primary">
                                    <span>Change avatar</span>
                                    <input type="file" class="form-control" id="profile-pic" accept="image/*" data-bs-toggle="modal" data-bs-target="#exampleModal" (change)="fileChangeEvent($event)" required name="profile-pic" style="display: none;">
                                </label>
                                <div class="modal fade" id="exampleModal" #exampleModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">You need to crop the image</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <image-cropper
                                                    [imageChangedEvent]="imageChangedEvent"
                                                    [maintainAspectRatio]="true"
                                                    [aspectRatio]="10 / 10"
                                                    format="png"
                                                    (imageCropped)="imageCropped($event)"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="changeAvatar()">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-3">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeEmail" [disabled]="!this.user.twoFactorEnabled">
                                    Change e-mail
                                </button>
                                <div *ngIf="!this.user.twoFactorEnabled">
                                    First you need to enable 2FA.
                                    <button type="button" class="btn btn-primary">Enable 2FA</button>
                                </div>
                                <div class="modal fade" id="changeEmail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <app-generate-email-change-request 
                                        [email]="this.user.email"
                                        (SendPasswordChangeRequest)="changeEmail($event)"/>
                                </div>
                            </div>
                            <div class="m-3">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePassword">
                                    Change password
                                </button>
                                <div class="modal fade" id="changePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <app-generate-password-change-request
                                        (SendPasswordChangeRequest)="changePassword($event)"/>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-background-image [backgroundVideoSrc]="'./assets/videos/white_video.mp4'"></app-background-image> -->

<div class="settings-container">
    <app-loading-screen *ngIf="this.isLoading"></app-loading-screen>
    <div [ngClass]="{'blur-content': isLoading}" class="content-wrapper">
        <app-nav-bar></app-nav-bar>
        <p-toast></p-toast>
        <div class="profile-card">
            <div class="profile-details">
                <img [src]="user.image" alt="user-image" class="user-image">
                <div class="details">
                    <div class="m-3 text-style-30-px">Profile</div>
                    <div class="m-3 text-style-15-px">{{user.email}}</div>
                </div>
            </div>
            <div class="container text-center change-menu">
                <div class="row">
                    <div class="col">
                        <button 
                            type="button" 
                            class="btn" 
                            [ngClass]="{'active': isActive('/profile/profile/avatarchange')}" 
                            [routerLink]="['avatarchange']" 
                            [attr.aria-pressed]="isActive('/profile/profile/avatarchange') ? 'true' : 'false'">
                            Change Avatar
                        </button>
                    </div>
                    <div class="col">
                        <button 
                            type="button" 
                            class="btn" 
                            [ngClass]="{'active': isActive('/profile/profile/emailchange')}" 
                            [routerLink]="['emailchange']" 
                            [attr.aria-pressed]="isActive('/profile/profile/emailchange') ? 'true' : 'false'">
                            Change Email
                        </button>
                    </div>
                    <div class="col">
                        <button 
                            type="button" 
                            class="btn" 
                            [ngClass]="{'active': isActive('/profile/profile/passwordchange')}" 
                            [routerLink]="['passwordchange']" 
                            [attr.aria-pressed]="isActive('/profile/profile/passwordchange') ? 'true' : 'false'">
                            Change Password
                        </button>
                    </div>
                </div>
            </div>
            <router-outlet/>
        </div>
    </div>
</div>
<app-background-image [backgroundVideoSrc]="'./assets/videos/white_video.mp4'"></app-background-image>
