<div class="cont text-style">
    <app-nav-bar />
    <app-loading-screen *ngIf="isLoading"/>
    <p-toast position="top-center"></p-toast>
    <img [src]="myImage" class="background-image">
    <div class="modal fade" id="deleteRoomModal" tabindex="-1" aria-labelledby="deleteRoomModal" data-bs-theme="dark" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-white" id="deleteRoomModal">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-white">
                    Are you sure you want to delete this room?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-color" data-bs-dismiss="modal">No</button> 
                    <button type="button" (click)="deleteRoom()" data-bs-dismiss="modal" class="btn btn-color">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="friendsModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-theme="dark" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Online friends</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-search text-white">
                    <div>
                        Username:
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar text-white" placeholder="Search" [(ngModel)]="searchTermForFriends" (input)="searchInFriends()">
                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-body text-white" style="max-height: 500px; overflow-y: auto;">
                    <ng-container *ngFor="let request of this.onlineFriends; let i = index">
                        <ng-container *ngIf="request.receiverId === this.userId">
                            <div class="chat_header">
                                {{ request.senderName }}
                                <i class="fa fa-check mx-3" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" (click)="handleInviteToRoom(request.senderName)"></i>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="request.receiverId !== this.userId">
                            <div class="chat_header">
                                {{ request.receiverName }}
                                <i class="fa fa-check mx-3" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" (click)="handleInviteToRoom(request.receiverName)"></i>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModal" data-bs-theme="dark" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-white" id="changePasswordModal">Change password</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="changePasswordRequest" (ngSubmit)="changePasswordForRoom()">
                    <div class="modal-body">
                        <label id="roomlabel" for="oldPassword" class="text-white"> Old password</label>
                        <input id="oldPassword" [type]="showPassword ? 'text' : 'password'" formControlName="oldPassword" class="form-control" required/>
                        <label id="roomlabel" class="text-white"> New password</label>
                        <input id="newPassword" [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" class="form-control" required/>
                        <label id="roomlabel" for="passwordRepeat" class="text-white">Password repeat</label>
                        <input id="passwordRepeat" [type]="showPassword ? 'text' : 'password'" formControlName="passwordRepeat" class="form-control" required/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Back</button>
                        <button type="button" (click)="toggleShowPassword()" class="show-button btn btn-color">{{ showPassword ? 'Hide' : 'Show' }}</button>
                        <button type="submit" data-bs-dismiss="modal" class="btn btn-color">Change password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-5" [ngClass]="{'blur-content': isLoading}">
        <div class="chat_header">
            <h3 class="text-center my-2 place_headers text-white">Welcome to <span class="group-name">{{roomName.toUpperCase()}}</span> group</h3>
            <button type="button" class="btn text-white btn-color" data-bs-toggle="modal" data-bs-target="#friendsModal" (click)="this.friendService.getOnlineFriends()">
                Invite a friend
            </button>
            <ng-container *ngIf="this.userIsTheCreator">
                <div class="dropdown">
                    <button type="button" class="decorated_button_for_dropdown btn-color" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                        </svg>
                    </button>
                    <ul class="dropdown-menu">
                        <button type="button" class="btn text-white dropdown-item btn-color" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                            Change room's password
                        </button>
                        <button type="button" class="btn text-white dropdown-item btn-color" data-bs-toggle="modal" data-bs-target="#deleteRoomModal">
                            Delete room
                        </button>
                    </ul>
                </div>
            </ng-container>
            <button (click)="leaveChat(true)" class="btn text-white btn-color">Leave Chat</button>
        </div>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4 class="text-white">Connected users</h4>
                        </div>
                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input type="text" class="search-bar text-white" placeholder="Search" [(ngModel)]="searchTerm" (input)="searchInConnectedUsers()">
                                <span class="input-group-addon">
                                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="inbox-chat">
                        <ng-container *ngFor="let user of this.connectedUsers">
                          <div class="chat_list">
                            <div class="chat_people">
                              <div class="chat_img">
                                <img class="user_image" [src]="avatars[user.userId] || 'https://ptetutorials.com/images/user-profile.png'" alt="User Avatar">
                              </div>
                              <div class="chat_ib mt-3">
                                <h5>{{this.displayService.displayUserName(user.userName)}} <span class="online"></span> </h5>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                    </div>
                </div>
                <div class="mesgs">
                    <div #scrollMe class="msg_history">
                        <ng-container *ngFor="let message of this.chatService.messages$ | async; let i = index">
                            <div [ngClass]="{'incoming_msg': message.UserName != this.userId && message.user !== 'Textinger bot', 'outgoing_msg': message.userId === this.userId}">
                                <div *ngIf="message.userId != this.userId && message.user !== 'Textinger bot'" class="incoming_msg_img">
                                    <img class="user_image" [src]="avatars[message.userId] || 'https://ptetutorials.com/images/user-profile.png'" alt="User Avatar">
                                </div>
                                <div *ngIf="message.userId != this.userId && message.user !== 'Textinger bot'" class="received_msg">
                                    <div class="received_withd_msg">
                                        <p> {{message.message}} </p>
                                        <div class="message-data-container">
                                            <span class="time_date">{{this.displayService.displayUserName(message.user)}} | {{message.messageTime | date: 'medium'}}</span>
                                            <div class="seen-images-container">
                                                <ng-container *ngIf="message.seenList != null && message.seenList.length > 2">
                                                    {{this.resetImageCount()}}
                                                    <div *ngFor="let userId of message.seenList; let last = last" class="seen-image-container">
                                                        <ng-container *ngIf="2 > this.imageCount">
                                                            <img *ngIf="this.examineIfNextMessageNotContainsUserId(userId, i)" class="seen-image" [src]="avatars[userId] || this.loadAvatarsFromMessages(userId)">
                                                        </ng-container>
                                                        <ng-container *ngIf="this.imageCount >= 2" >
                                                            <ng-container *ngIf="examineIfNextMessageNotContainsUserId(userId, i)">
                                                                <ng-container *ngIf="last">
                                                                    + {{ this.imageCount - 2 }}
                                                                </ng-container>
                                                            </ng-container>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="message.seenList != null && 2 >= message.seenList.length">
                                                    <div *ngFor="let userId of message.seenList" class="seen-image-container">
                                                        <img *ngIf="this.examineIfNextMessageNotContainsUserId(userId, i)" class="seen-image" [src]="avatars[userId] || this.loadAvatarsFromMessages(userId)">
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="message.userId === this.userId" class="sent_msg">
                                    <div class="sent_withd_msg">
                                        <div *ngIf="message.message != 'Deleted message.'" class="dropstart">
                                            <button type="button" class="not_decorated_button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-dark dropdown-container">
                                                <li><a class="dropdown-item" (click)="handleMessageModify(message.messageId, message.message)">Modify</a></li>
                                                <li><a class="dropdown-item" (click)="handleMessageDelete(message.messageId)">Delete</a></li>
                                            </ul>
                                            {{message.message}}
                                        </div>
                                        <div *ngIf="message.message == 'Deleted message.'" class="dropstart">{{message.message}}</div>
                                        <div class="message-data-container">
                                            <span class="time_date">Myself | {{message.messageTime | date: 'medium'}}</span>
                                            <div class="seen-images-container">
                                                <ng-container *ngIf="message.seenList != null && message.seenList.length > 3 && message.message != 'Deleted message.'">
                                                    {{this.resetImageCount()}}
                                                    <div *ngFor="let userId of message.seenList" class="seen-image-container">
                                                        <ng-container *ngIf="2 > this.imageCount">                                                            
                                                            <img *ngIf="this.examineIfNextMessageNotContainsUserId(userId, i) && userId != this.userId" class="seen-image" [src]="avatars[userId] || this.loadAvatarsFromMessages(userId)">
                                                            <ng-container *ngIf="2 > this.imageCount">
                                                                <ng-container *ngIf="this.imageCount >= 2">
                                                                    +{{this.message.seenList.length - 2}}                                                                    
                                                                </ng-container>
                                                            </ng-container>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="message.seenList != null && 3 >= message.seenList.length && message.message != 'Deleted message.'">
                                                    <div *ngFor="let userIdInSeenList of message.seenList" class="seen-image-container">
                                                        <img *ngIf="userIdInSeenList != this.userId && this.examineIfNextMessageNotContainsUserId(userIdInSeenList, i)" class="seen-image" [src]="avatars[userIdInSeenList] || this.loadAvatarsFromMessages(userIdInSeenList)">
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="message.user === 'Textinger bot'" class="bot_msg">
                                    <p> {{message.message}} </p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div *ngIf="this.messageModifyBool"><button type="button" class="btn-close" aria-label="Close" (click)="this.handleCloseMessageModify()"></button>Message modification </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input class="text-white" #messageInput (keydown.enter)="this.messageModifyBool? sendMessageModifyHttpRequest(this.messageModifyRequest) : sendMessage()" [(ngModel)]="inputMessage" type="text" placeholder="Type a message" />
                            <button (click)="this.messageModifyBool? sendMessageModifyHttpRequest(this.messageModifyRequest) : sendMessage()" class="msg_send_btn" type="button"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-background-image>