<div>
    <form [formGroup]="changeUserKeyRequest" (ngSubmit)="OnFormSubmit()">
        <div class="mb-3 text-style-15-px input-container">
            <label for="inputuserKey" class="form-label">New key for chat rooms</label>
            <input formControlName="newKey" type="email" class="form-control" id="inputuserKey" aria-describedby="emailHelp" placeholder="123456">
            <div class="error-messages-container">
                <div class="text-style-15-px" *ngIf="changeUserKeyRequest.get('newKey')?.invalid && (changeUserKeyRequest.get('newKey')?.dirty || changeUserKeyRequest.get('newKey')?.touched)" class="text-danger">
                    <div *ngIf="changeUserKeyRequest.get('newKey')?.errors?.['required']">Key is required</div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-color" [disabled]="!changeUserKeyRequest.valid">Submit</button>
        </div>
    </form>
</div>

