<div class="cont">
    <app-loading-screen *ngIf="this.isLoading"></app-loading-screen>
    <div [ngClass]="{'blur-content': isLoading}">
        <app-nav-bar></app-nav-bar>
        <p-toast position="top-center"></p-toast>
        <div class="welcome-text">
            <h1 class="text-style">Hello & Welcome</h1>
            <h2 class="text-style">Let's connect with your friends.</h2>
            <h3 class="text-style">Over 5000 registered users!</h3>
        </div>
        <div class="bottom-left-content">
            <div class="text-style-15-px text-white text-size-20">1483 | Happy customers</div>
            <div class="text-style-15-px text-white text-size-20">4.11/5 | <img [src]="starsImage" class="stars-image"> </div>
        </div>
    </div>
</div>
<app-background-image [backgroundVideoSrc]="'./assets/videos/white_black_video_2.mp4'"></app-background-image>