<div class="cont">
    <app-loading-screen *ngIf="this.isLoading"></app-loading-screen>
    <div [ngClass]="{'blur-content': isLoading}">
        <app-nav-bar></app-nav-bar>
        <p-toast position="top-center"></p-toast>
        <div class="welcome-text">
            <h1 class="text-style-welcome-text">Hello & Welcome</h1>
            <h2 class="text-style-welcome-text">Let's connect with your friends.</h2>
            <h3 class="text-style-welcome-text">Over 5000 registered users!</h3>
        </div>
        <div class="bottom-left-content">
            <div class="text-style text-white text-size-20">1483 | Happy customers</div>
            <div class="text-style text-white text-size-20">4* | <img [src]="starsImage" class="stars-image"> </div>
        </div>
        <video id="backgroundVideo" autoplay muted loop [class]="animation ? 'animate-image' : 'nonanimate-image'">
            <source [src]="backgroundVideo" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>