.nav-placement {
    padding: 10px;
}

.navbar {
    border-radius: 15px;
    background-color: rgba(138, 138, 138, 0.5);
    backdrop-filter: blur(3px);
    font-variant: small-caps;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
