<section class="cont">
    <app-nav-bar />
    <div class="signup-card">
        <div class="left-side">
            <div>
                <img src="/assets/images/registration.jpg" alt="chat_bubble" class="image">
            </div>
        </div>
        <div class="right-side">
            <h1 class="mt-3">
                Registration
            </h1>
            <form [formGroup]="registrationRequest" (ngSubmit)="OnFormSubmit()">
                <div class="form-group mt-3">
                    <label class="mb-2" for="email">Email</label>
                    <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email" required name="email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group mt-3">
                    <label class="mb-2" for="username">Username</label>
                    <input formControlName="username" type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username" required name="username" required>
                </div>
                <div class="form-group mt-3">
                    <label class="mb-2" for="password">Password</label>
                    <div class="password-input">
                        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" placeholder="Password" required name="password" required>
                        <button (click)="toggleShowPassword()" class="show-button btn btn-primary">{{ showPassword ? 'Hide' : 'Show' }}</button>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label class="mb-2" for="password-repeat">Password repeat</label>
                    <input formControlName="passwordrepeat" type="password" class="form-control" id="password-repeat" placeholder="Password" required name="password-repeat" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3" [disabled]="!registrationRequest.valid">Submit</button>
            </form>
        </div>
    </div>
</section>