<section class="cont">
    <app-nav-bar />
    <div class="signup-card">
        <div class="left-side">
            <div>
                <img src="/assets/images/registration.jpg" alt="chat_bubble" class="image">
            </div>
        </div>
        <div class="right-side">
            <h1 class="mt-1">
                Registration
            </h1>
            <form [formGroup]="registrationRequest" (ngSubmit)="OnFormSubmit()">
                <div class="form-group mt-3">
                    <label class="mb-2" for="email">Email</label>
                    <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email" required name="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group mt-3">
                    <label class="mb-2" for="username">Username</label>
                    <input formControlName="username" type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username" required name="username">
                </div>
                <div class="form-group mt-3">
                    <label class="mb-2" for="password">Password</label>
                    <div class="password-input">
                        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" placeholder="Password" required name="password">
                        <button type="button" (click)="toggleShowPassword()" class="show-button btn btn-primary">{{ showPassword ? 'Hide' : 'Show' }}</button>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label class="mb-2" for="password-repeat">Password repeat</label>
                    <input formControlName="passwordrepeat" type="password" class="form-control" id="password-repeat" placeholder="Password" required name="password-repeat">
                </div>
                <div class="form-group mt-3">
                    <label class="mb-2" for="phoneNumber">Telephone number</label>
                    <input formControlName="phoneNumber" type="email" class="form-control" id="phoneNumber" aria-describedby="emailHelp" placeholder="06-20-221-2222" required name="phoneNumber">
                </div>
                <div class="form-group">
                    <label class="mb-2" for="profile-pic">Profile picture</label>
                    <input type="file" class="form-control" id="profile-pic" accept="image/*" data-bs-toggle="modal" data-bs-target="#exampleModal" (change)="fileChangeEvent($event)" required name="profile-pic">
                    <div class="modal fade" id="exampleModal" #exampleModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">You need to crop the image</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <image-cropper
                                        [imageChangedEvent]="imageChangedEvent"
                                        [maintainAspectRatio]="true"
                                        [aspectRatio]="10 / 10"
                                        format="png"
                                        (imageCropped)="imageCropped($event)"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3" [disabled]="!registrationRequest.valid">Submit</button>
                
            </form>
        </div>
    </div>
</section>