<ng-container>
    <app-loading-screen *ngIf="isLoading"/>
    <ng-container *ngIf="!tokenSend">
        <app-token-provide [ngClass]="{'blur-content': isLoading}"
            pageName="Reset password"
            labelName="E-mail"
            buttonContext="Send reset token"
            inputPlaceholder="example@example.com"
            (SendToken)="sendPasswordResetEmail($event)"
            (cancelLogin)="cancelLogin()"/>
    </ng-container>
    <ng-container *ngIf="tokenSend">
        <app-token-provide [ngClass]="{'blur-content': isLoading}"
            pageName="test"
            labelName="test"
            buttonContext="Send reset token"
            inputPlaceholder="example@example.com"
            (SendToken)="sendPasswordResetEmail($event)"
            (cancelLogin)="cancelLogin()"/>
    </ng-container>
</ng-container>
