<ng-container>
    <app-loading-screen *ngIf="isLoading"/>
    <div [ngClass]="{'blur-content': isLoading}">
        <p-toast position="top-center"></p-toast>
        <ng-container *ngIf="this.validCode" >
            <form [formGroup]="passwordReset" (ngSubmit)="onFormSubmit()">
                <div class="form-group mt-3">
                    <label class="mb-2" for="password">Password</label>
                    <div class="password-input">
                        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" placeholder="Password" required name="password">
                        <button type="button" (click)="toggleShowPassword()" class="show-button btn btn-primary">{{ showPassword ? 'Hide' : 'Show' }}</button>
                        <span class="position-relative" data-toggle="tooltip" data-placement="right" title="Your password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one symbol.">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-info-circle mx-2" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                            </svg>
                        </span>
                    </div>
                    <div *ngIf="passwordReset.get('password')?.invalid 
                        && (passwordReset.get('password')?.dirty || passwordReset.get('password')?.touched)" class="text-danger">
                        <div *ngIf="passwordReset.get('password')?.errors">Invalid password format</div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label class="mb-2" for="passwordrepeat">Password repeat</label>
                    <input formControlName="passwordrepeat" [type]="showPassword ? 'text' : 'password'" class="form-control" id="password-repeat" placeholder="Password" required name="password-repeat">
                    <div *ngIf="passwordReset.get('passwordrepeat')?.invalid 
                        && (passwordReset.get('passwordrepeat')?.dirty || passwordReset.get('passwordrepeat')?.touched)" class="text-danger">
                        <div *ngIf="passwordReset.get('passwordrepeat')?.errors">Invalid password format</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary m-3" [disabled]="!passwordReset.valid">Submit</button>
            </form>
        </ng-container>
        <ng-container *ngIf="!this.validCode">
            <section class="token-container blur-content">
                <div class="token-card">
                    <h1 class="mt-3">
                        Password Reset
                    </h1>
                </div>
            </section>
        </ng-container>
    </div>
</ng-container>
