<div class="cont">
    <div class="card">
        <h1 class="mt-1">
            Registration
        </h1>
        <form [formGroup]="verificationCode" (ngSubmit)="OnFormSubmit()">
            <div class="form-group mt-3">
                <label class="mb-2" for="verificationCode">Verification code</label>
                <input formControlName="verifyCode" type="verificationCode" class="form-control" id="verificationCode" aria-describedby="verificationCodeHelp" placeholder="verificationCode" required name="verificationCode">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
            <button type="button" class="btn btn-primary mt-3 mx-2" (click)="HandleBackClick()">Back</button>
        </form>
    </div>
</div>
