<section class="token-container">
    <div class="token-card">
        <div class="right-side">
            <h1 class="mt-3">
                Auth token
            </h1>
            <form [formGroup]="token" (ngSubmit)="OnFormSubmit()">
                <div class="form-group mt-3">
                    <label for="token">Token</label>
                    <input formControlName="token" type="email" class="form-control" id="token" aria-describedby="emailHelp" placeholder="012345" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Sign in</button>
                <button type="button" class="btn btn-primary mt-3 mx-2" (click)="HandleBackClick()">Back</button>
            </form>
        </div>
    </div>
</section>